.App {
  text-align: center;
  background-color: #101010;
  color: #f0f0f0;
}

/* container */
.slim{
  margin: 0 15%;
  width: 70%;
}
.main-body{
  float: left;
}

.mainhead{
  padding: 20px 0;
}
.github-head{
  display: inline;
}
.github-head a{
  text-decoration: none;
  color: #f0f0f0;
}
.github-head a:hover{
  color: #f9a624;
}

.github-head i, .github-head p{
  margin: 5px;
  display: inline;
}
.github-head i{
  font-size: 28px;
}
.github-head p{
  position:relative;
  top: -2px;
  font-size: 18px;
}

/* Youtube Component */
.youtube{
  width: 100%;
}

.youtube-thumb{
  display: inline;
}
.youtube-frame{
  /* width: 100%; */
  background-color: #555555;
  padding: 15px;
  border-top: 30px solid #333333;
}
.youtube-thumbs-main{
  display: inline;
  margin: 0;
  width: 100%;
}
.youtube-thumbs-main ul{
  padding: 0;
  width: inherit;
  margin: 0;
  list-style: none;
  display: inline-block;
  background-color: #333333;
}
.youtube-thumbs-main ul li{
  display: inline-block;
  padding: 1%;
  margin: 0;
}
.youtube-thumbs-main ul li:hover{
  cursor: pointer;
  color: #333333;
  background-color: #f0f0f0;
}
.youtube-thumbs-main ul li img{
  max-width: 200px;
  min-width: 150px;
}
.youtube-thumbs-main ul li h5{
  padding: 0;
  margin: 0;
}

/* RightPanel Component */
.right-panel{
  position: fixed;
  right: 0;
  height: 100%;
  border-left: white solid 2px;
  background-color: rgba(240, 240, 240, 0.6);
  width: 0px;
  transition: 0.5s;
}
.right-panel:hover{
  width: 200px;
}
.right-panel ul{
  list-style: none;
  padding: 0;

}
.right-panel li a{
  text-decoration: none;
}

/*
font-family: 'Abel', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Press Start 2P', cursive;
*/
