.project-head{
  background-image: url("../images/coffee-laptop.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 250px;
}
.project-head h3{
  font-family: 'Orbitron', sans-serif;
  font-size: 50px;
  position: relative;
  top: 35%;
  margin: 0 auto;
  text-shadow: 4px 4px 4px black;

}
/*
position: relative;
top: 50%;
transform: translateY(-50%);
*/

.project-list{
  /* stuff may go here */
}
.project-list img{
  width: 100%;
  display: flex;
}
.project-list a{
  color: white;
  text-decoration: none;
}

.ion{
  font-size: 60px;
  margin: 30px 0 15px 0;
}
.model-1 a{
  display: flex;
}
.model-1 a:hover{
  color: #4f9ff9;
}
.model-1 a aside{
  width: 50%;
  background-color: #f9a624;
}
.model-1 a article{
  width: 50%;
  background-color: #444444;
}

.model-2 a:hover{
  color: #4f9ff9;
}
.model-2 a{
  display: flex;
}
.model-2 aside{
  width: 50%;
  background-color: #444444;
}
.model-2 article{
  width: 50%;
  background-color: #f78f8f;
}

.model-3 a:hover{
  color: #4f9ff9;
}
.model-3 a{
  display: flex;
}
.model-3 aside{
  width: 50%;
  background-color: #3e4e50;
}
.model-3 article{
  width: 50%;
  background-color: #444444;
}

.model-4 a:hover{
  color: #4f9ff9;
}
.model-4 a{
  display: flex;
}
.model-4 aside{
  width: 50%;
  background-color: #444444;
}
.model-4 article{
  width: 50%;
  background-color: #d1cc4d;
}
