.subhead-head{
  background-image: url("../images/hackerman.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: 100% auto;
  height: 250px;
  width: 100%;
}
.subhead-head h3{
  font-size: 50px;
  position: relative;
  top: 40%;
  margin: 0 auto;
  text-shadow: 4px 4px 4px black;
}

.subhead-body{
  text-align: left;
}
